*{
	margin: 0%;
	padding: 0;
}
.node{
	width: 100%;
	height: 100%;
}
#pag2{
	width: 100%;
	height: 400px;
	background-color: #f7f7f7;
/* 	margin: 0 auto; */
	position: relative;
}
.zsx{
	height: 20px;
	background-color: #f5c7d1;
}
.bt1 p{
	text-align: center;
	line-height: 10px;
	vertical-align: middle;
	color: #333;
	position: relative;
	padding-top: 30px;
}
.flex-container{
	display: flex;
	justify-content: center;
	justify-content: space-around;
}
.k1{
	width: 120px;
	height: 120px;
	margin-top: 70px;
	background-color: white;
	position: relative;
}
.k1:hover{
	background-color: #f5c7d1;
}
.k2{
	width: 120px;
	height: 120px;
	margin-top: 70px;
	background-color: white;
	position: relative;
}
.k2:hover{
	background-color: #f5c7d1;
}
.k3{
	width: 120px;
	height: 120px;
	margin-top: 70px;
	background-color: white;
	position: relative;
}
.k3:hover{
	background-color: #f5c7d1;
}
.k4{
	width: 120px;
	height: 120px;
	margin-top: 70px;
	background-color: white;
	position: relative;
}
.k4:hover{
	background-color: #f5c7d1;
}
.middle{
	width: 100%;
	height: 570px;
	background-color: #fff;
	margin: 0 auto;
	position: relative;
}
.bt2 p{
	text-align: center;
	line-height: 10px;
	vertical-align: middle;
	color: #333;
	position: relative;
	padding-top: 30px;
}
#left{
	width: 600px;
	height: 400px;
	float: left;
}
.jieshao1 ul{
	width: 600px;
	margin-top: 86px;
	margin-left: 240px;
}
.jieshao1 ul li{
	float: left;
	margin-left: 20px;
	list-style: none;
}
.f1{
	font-size:22px;
	width:80%;
}
.jieshao2 ul{
	width: 600px;
	margin-left: 240px;
	margin-top: 70px;
	
}
.jieshao2 ul li{
	float: left;
	margin-left: 20px;
	list-style: none;
}
.f2{
	font-size:22px;
	width:80%;
}
#right{
	width: 600px;
	height: 370px;
	margin-right: 200px;
	float: right;
}
.jieshao3 ul{
	width: 600px;
	margin-right: 200px;
}
.jieshao3 ul li{
	float: left;
	margin-left: 20px;
	list-style: none;
}
.f3{
	font-size:22px;
	width:70%;
}
.jieshao4 ul{
	width: 600px;
	margin-right: 200px;
	margin-top: 70px;
}
.jieshao4 ul li{
	float: left;
	margin-left: 20px;
	list-style: none;
}
.f4{
	font-size:22px;
	width:70%;
}
.photo{
	width: 100%;
	height: 500px;
	background-color: #f7f7f7;
}
.bt3{
	width: 100%;
}
.bt3 p{
	text-align: center;
	line-height: 10px;
	color: #333;
	/* position: relative; */
	padding-top: 30px;
}
.ph{
	margin-top: 10px;
}
.p1{
	width: 300px;
	height: 300px;
	margin-top: 40px;
	margin-left: 50px;
}
.p2{
	width: 300px;
	height: 300px;
	margin-left: 20px;
}
.p3{
	width: 225px;
	height: 300px;
	margin-left: 20px;
}
.p4{
	width: 225px;
	height: 300px;
	margin-left: 20px;
}
.p5{
	width: 225px;
	height: 300px;
	margin-left: 20px;
}
.p6{
	width: 400px;
	height: 300px;
	margin-left: 20px;
}
.end{
	width: 100%;
	height: 50px;
	background-color: #f5c7d1;
}
.t2{
	text-align:center;
	line-height: 20px;
	padding-top: 20px;
	color: white;
}


